.notification {
    background-color: #F8F8F7;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationGrid {
    display: grid;
    grid-template-columns: 63px 1fr 30px;
    grid-template-rows: 32px;
    grid-column-gap: 15px;

    width: 100%;
}




.notificationGrid .time{
    background-color: #FFFFFF;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationGrid span{
    display: flex;
    justify-content: start;
    align-items: center;
}

.notificationGrid div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.notificationGrid svg {
    max-width: 20px;
    max-height: 20px;
}