.button {
    background-color: #ffffff;
    border-radius: 10px;
    border: 0;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FF868E;
}

.button:hover {
    background-color: #FBE0DC;
}

.button:hover span {
    color: #FF868E;
}