.filterBreeds {
    display: grid;
    grid-template-columns: 40px 150px 1fr 100px repeat(2, 40px);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

.filterBreedsId {
    display: grid;
    grid-template-columns: 40px 150px 90px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

.filterVoting {
    display: grid;
    grid-template-columns: 40px 150px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

.box {
    background-color: #F8F8F7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

