.search{
    background-color: #ffffffff;

    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: none;
    width: 100%;

    font-size: 20px;
    line-height: 30px;
    color: #8C8C8C;

    margin-left: 20px;
}

.searchSvg {
    flex-basis: 50px;

    width: 40px;
    height: 40px;
    background-color: #FBE0DC;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchSvg svg{
    width: 20px;
    height: 20px;
}

.searchSvg:hover {
    background-color: #FF868E;
}

.searchSvg:hover * {
    fill: #FFFFFF;
}