.girlPet {
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

.left {
    width: 100%;
    display: flex;
    justify-content: center;
}