* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
  }

@font-face {
    font-family: 'Jost';
    src: local('Lato'), url(./fonts/Jost-Regular.ttf) format('opentype');
  }
  
  @font-face {
      font-family: 'Jost';
      font-weight: 400;
      src: local('Jost'), url(./fonts/Jost-Regular.ttf) format('opentype');
  }
  
  @font-face {
      font-family: 'Jost';
      font-weight: 500;
      src: local('Jost'), url(./fonts/Jost-Medium.ttf) format('opentype');
  }

body {
    height: 100vh;
    width: 100vw;
    font-family: Jost, sans-serif;
    color: #1D1D1D;
}

#root {
   padding: 30px;
   width: 100%;
   height: 100%;
   background-color: #F8F8F7;

   display: flex;
   justify-content: space-between;
}